name: CI/CD

on:
  push:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Login to GHCR
      run: |
        echo "${{ secrets.GHCR_TOKEN }}" | docker login ghcr.io -u "kev1mmm" --password-stdin

    - name: Build image
      run: docker build -t ghcr.io/kev1mmm/devops-api:latest .

    - name: Push image
      run: docker push ghcr.io/kev1mmm/devops-api:latest
